@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


.container,
.container-fluid {
    padding: 0;
}

.row {
    padding: 0;
    margin: 0;
}

section {
    margin-left: 0px;
    margin-right: 0px;
}

.body {
    margin: 0;
}
.container-fluid, row {
    margin: 0; padding: 0; 
    
}

/*----------Font Mod--------*/

.newtext {
    color: white;
    font-weight: bolder;
    text-shadow: rgb(1, 48, 79) 1px 1px;
}

.moreshowtext {
    color: rgb(1, 48, 79);
    text-shadow: yellow 1px 1px;
    font-weight: bolder;
}

.latestnewstext {
    font-size: 5vw;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(1, 48, 79);
    text-shadow: yellow 2px 2px;
    padding: 2vh;
}

.showinfotext {
    color: white;
    font-weight: bolder;
    text-shadow: rgb(1, 48, 79) 1px 1px;
    transition: 0.3s;
}

.showinfotext:hover {
    color: rgb(1, 48, 79);
    text-shadow: yellow 1px 1px;
    font-weight: bolder;
}

.topofpagetxt {
    color: rgb(188, 119, 22);
    text-shadow: black 1px 1px;
}


/*----------Navbar--------*/

.bg-light {
    background-color: transparent!important;
}


.navbar-toggler {
    background-color: rgb(188, 119, 22, 0.5);
}

.dropdown-item {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(188, 119, 22, 0.3);
    width: 200px;
    float: right;
}

.dropdown-menu-right {
    border-radius: 4px;
}

.ita {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.itb {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


/*----------Home Area--------*/

.homearea {
    width: 100%;
    height: auto;
    margin: 0;
}

.homebg {
    background-image: url(../assets/bandcover.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.introtext {
    color: white;
    font-size: large;
}

.intro {
    margin-top: auto;
}

/*----------News Area--------*/

.newbg {
    background-image: url(../assets/pave.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    background-attachment: fixed;
}

.newbgb {
    background-image: url(../assets/pave.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
}
.rownews {
    padding-bottom: 2.5vh;
}

.newband {
    background-image: url(../assets/band.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

.newfilm {
    background-image: url(../assets/newstuff.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

/*----------tour--------*/

.pgbreak {
    background-image: url(../assets/bandstage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
}

.gig1 {
    background-image: url(../assets/gig1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 2vh;
}

.gig2 {
    background-image: url(../assets/gig2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 2vh;
}

.gig3 {
    background-image: url(../assets/gig3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 2vh;
}

/*----------Video--------*/

.video-responsive {
    width: 100%;
    background-color: #272c33;
}

/*----------Contact--------*/

.pgbreak2 {
    background-image: url(../assets/wr.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: auto;
    width: 100%;
}

.formbg {
    background-color: rgb(66, 101, 244, 0.8);
}

.form-group {
    font-weight: bolder;
    color: white;
    text-shadow: black 1px 1px;
    padding: 20px!important;
}


/*----------Footer--------*/

.footer {
    background-color: black;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.fa-facebook {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;

}

.fa-facebook:hover {
    color: rgb(188, 119, 22);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-youtube {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-youtube:hover {
    color: rgb(188, 119, 22);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-spotify {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-spotify:hover {
    color: rgb(188, 119, 22);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-amazon {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.fa-amazon:hover {
    color: rgb(188, 119, 22);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

.homebt {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

.homebt:hover {
    color: rgb(188, 119, 22);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}


/*----------Media--------*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .homearea {
        height: 300px;
    }
    .intro {
        display: none;
    }
    .latestnewstext {
        font-size: 50px;
    }
    .upcomingbg,
    .tourbg {
        height: 400px;
    }
    .pgbreak {
        height: 200px;
    }
    .musicmod {
        left: 10%;
    }
    .pgbreak2 {
        height: 250px;
    }

}



/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .intro {
        display: none;
    }
    .homearea {
        height: 400px;
    }
    .latestnewstext {
        font-size: 50px;
    }
    .pgbreak {
        height: 250px;
    }
    .musicmod {
        left: 10%;
    }
    .pgbreak2 {
        height: 350px;
    }
}




/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .homearea {
        height: 650px;
    }
    .intro {
        margin-top: 380px;
        display: inherit;
    }
    .introtext {
        font-size: medium;
        margin-top: -60px;
    }
    .latestnewstext {
        font-size: 50px;
    }
    .upcomingbg,
    .tourbg {
        height: 300px;
    }
    .pgbreak {
        height: 300px;
    }
    .musicmod {
        left: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .homearea {
        height: 800px;
    }
    .intro {
        margin-top: 500px;
        display: inherit;
    }
    .latestnewstext {
        font-size: 5vw;
    }
    .upcomingbg,
    .tourbg {
        height: 500px;
    }
    .pgbreak {
        height: 400px;
    }
    .musicmod {
        left: 5%;
    }
    .introtext {
        margin-top: 0px;
    }
    .pgbreak2 {
        height: 550px;
    }
    .newfilm,
    .newband {
        height: 150px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .homearea {
        height: 1000px;
    }
    .intro {
        margin-top: 65vh;
        display: inherit;
    }
    .introtext {
        font-size: larger;
        margin-top: 50px;
    }
    .latestnewstext {
        font-size: 5vw;
    }
    .upcomingbg,
    .tourbg {
        height: 600px;
    }
    .pgbreak {
        height: 450px;
    }
    .musicmod {
        left: 5%;
    }
    .pgbreak2 {
        height: 550px;
    }
    .newsize {
        height: 300px;
    }
    .newfilm,
    .newband {
        height: 230px;
    }
}
