@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);


.container,
.container-fluid {
    padding: 0;
}

.row {
    padding: 0;
    margin: 0;
}

section {
    margin-left: 0;
    margin-right: 0;
}

.body {
    margin: 0;
}

.container-fluid,
row {
    margin: 0;
    padding: 0;

}

/*----------Font Mod--------*/

.new-text {
    color: white;
    font-weight: bolder;
    text-shadow: rgb(1, 48, 79) 1px 1px;
}

.more-show-text {
    color: rgb(1, 48, 79);
    text-shadow: yellow 1px 1px;
    font-weight: bolder;
}

.latest-news-text {
    font-size: 5vw;
    font-weight: bolder;
    letter-spacing: 2px;
    color: rgb(1, 48, 79);
    text-shadow: yellow 2px 2px;
    padding: 2vh;
}

.show-info-text {
    color: white;
    font-weight: bolder;
    text-shadow: rgb(1, 48, 79) 1px 1px;
    transition: 0.3s;
}

.show-info-text:hover {
    color: rgb(1, 48, 79);
    text-shadow: yellow 1px 1px;
    font-weight: bolder;
}

.top-of-page-txt {
    color: rgb(188, 119, 22);
    text-shadow: black 1px 1px;
}


/*----------Navbar--------*/

.bg-light {
    background-color: transparent!important;
}


.navbar-toggler {
    background-color: rgb(188, 119, 22, 0.5);
}

.dropdown-item {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(188, 119, 22, 0.3);
    width: 200px;
    float: right;
}

.dropdown-menu-right {
    border-radius: 4px;
}

.ita {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.itb {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


/*----------Home Area--------*/

.home-area {
    width: 100%;
    height: auto;
    margin: 0;
}

.home-bg {
    background-image: url(../assets/img/bandcover.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.intro-text {
    color: white;
    font-size: large;
}

.intro {
    margin-top: auto;
}

/*----------News Area--------*/

.new-bg {
    background-image: url(../assets/img/pave.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
    background-attachment: fixed;
}

.new-bg-b {
    background-image: url(../assets/img/pave.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    border-top: solid 3px black;
}

.new-bg-c {
    background-image: url(../assets/img/pave.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    border-bottom: solid 3px black;
}

.row-news {
    padding-bottom: 2.5vh;
}

.new-band {
    background-image: url(../assets/img/band.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

.new-film {
    background-image: url(../assets/img/newstuff.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
}

/*----------tour--------*/

.pg-break {
    background-image: url(../assets/img/bandstage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
    width: 100%;
    border: solid 3px black;

}

.gig-1 {
    background-image: url(../assets/img/gig1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 2vh;
}

.gig-2 {
    background-image: url(../assets/img/gig2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 2vh;
}

.gig-3 {
    background-image: url(../assets/img/gig3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 400px;
    width: 100%;
    margin-bottom: 2vh;
}

/*----------Video--------*/

.video-responsive {
    width: 100%;
    background-color: white;
}

.video-mod>iframe {
    width: 100%;
    height: 500px;
}

.video-mod {
    margin-bottom: -10px;
}

/*----------Music--------*/

.spotify-mod>iframe {
    width: 80%;
    height: 450px;
}


/*----------Contact--------*/

.pg-break-2 {
    background-image: url(../assets/img/wr.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: auto;
    width: 100%;
}

.pad-pic {
    padding: 0!important;
}

.form-bg {
    background-color: rgb(66, 101, 244, 0.8);
}

.form-group {
    font-weight: bolder;
    color: white;
    text-shadow: black 1px 1px;
    padding: 20px!important;
}

.submit-bt {
    margin-bottom: 20px;
}

.modal-content {
    top: 300px;
}

.modal-footer,
.modal-header {
    background-color: rgb(188, 119, 22, 0.8);
}

.modal-title {
    color: white;
    font-weight: bolder;
}

/*----------Footer--------*/

.footer {
    background-color: black;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.fa-amazon,
.fa-spotify,
.fa-youtube,
.fa-facebook {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;

}

.home-bt:hover,
.fa-amazon:hover,
.fa-spotify:hover,
.fa-youtube:hover,
.fa-facebook:hover {
    color: rgb(188, 119, 22);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
}


.home-bt {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    text-decoration: none;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
}

/*----------Media--------*/

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .home-area {
        height: 300px;
    }
    .intro {
        display: none;
    }
    .latest-news-text {
        font-size: 50px;
    }
    .upcoming-bg,
    .tour-bg {
        height: 400px;
    }
    .pg-break {
        height: 200px;
    }
    .music-mod {
        left: 10%;
    }
    .pg-break-2 {
        height: 250px;
    }

}



/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .intro {
        display: none;
    }
    .home-area {
        height: 400px;
    }
    .latest-news-text {
        font-size: 50px;
    }
    .pg-break {
        height: 250px;
    }
    .music-mod {
        left: 10%;
    }
    .pg-break-2 {
        height: 350px;
    }
}




/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .home-area {
        height: 650px;
    }
    .intro {
        margin-top: 380px;
        display: inherit;
    }
    .intro-text {
        font-size: medium;
        margin-top: -60px;
    }
    .latest-news-text {
        font-size: 50px;
    }
    .upcoming-bg,
    .tour-bg {
        height: 300px;
    }
    .pg-break {
        height: 300px;
    }
    .music-mod {
        left: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .home-area {
        height: 800px;
    }
    .intro {
        margin-top: 500px;
        display: inherit;
    }
    .latest-news-text {
        font-size: 5vw;
    }
    .upcoming-bg,
    .tour-bg {
        height: 500px;
    }
    .pg-break {
        height: 400px;
    }
    .music-mod {
        left: 5%;
    }
    .intro-text {
        margin-top: 0;
    }
    .pg-break-2 {
        height: 550px;
    }
    .new-film,
    .new-band {
        height: 150px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .home-area {
        height: 1000px;
    }
    .intro {
        margin-top: 65vh;
        display: inherit;
    }
    .intro-text {
        font-size: larger;
        margin-top: 50px;
    }
    .latest-news-text {
        font-size: 5vw;
    }
    .upcoming-bg,
    .tour-bg {
        height: 600px;
    }
    .pg-break {
        height: 450px;
    }
    .music-mod {
        left: 5%;
    }
    .pg-break-2 {
        height: 550px;
    }
    .new-size {
        height: 300px;
    }
    .new-film,
    .new-band {
        height: 230px;
    }
}
